@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@import "../../../node_modules/bootstrap/scss/functions";

$primary: #eb7763;
$secondary: #adadad;
$danger: #f44336;
$warning: #ff9800;
$success: #7ed957;
$info: #2196f3;
$light: #fafafa;
$dark: #212121;

$themes-color: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "warning": $warning,
    "success": $success,
    "info": $info,
    "light": $light,
    "dark": $dark
);


@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

$btn-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
$btn-border-radius: 3px;
$btn-transition: all 0.3s ease;
$btn-hover-bg-tint-amount: 15%;
$btn-hover-border-tint-amount: 15%;
$btn-active-bg-tint-amount: 15%;
$btn-active-border-tint-amount: 15%;
$btn-padding-x: 20px;
$btn-padding-y: 8px;
$btn-line-height: 1.5;
$btn-font-size: 16px;

$dropdown-link-hover-bg: rgba($primary, 0.3);
$dropdown-padding-x: $spacer * .25;
$dropdown-padding-y: $spacer * .25;
$dropdown-divider-margin-y: $spacer * .25;

$grid-breakpoints: map-merge($grid-breakpoints, (
    "xxl": 1400px,
));

@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/spinners";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/dropdown";

@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";

.dropdown-item {
    transition: background-color 0.2s, color 0.2s;
    border-radius: 3px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    @include transition($btn-transition);
    text-decoration: none;
    &:hover {
        color: $primary;
    }
    &:active, &:focus {
        transform: scale(0.95);
    }
}

.footer-icon > i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon {
    font-size: 100px;
}

.card {
    transition: all 0.2s;

    &:hover {
        transform: translateY(-0.25rem);
    }
}

.row.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@each $name, $color in $themes-color {
    .btn-#{$name} {
        @include button-variant(
            $color,
            $color,
            $hover-background: darken($color, 10%),
            $hover-border: darken($color, 10%),
            $active-background: darken($color, 10%),
            $active-border: darken($color, 10%)
        );

        &:focus, &:active {
            transform: scale(0.95);
        }
    }
}

.width-normal {
    width: 100%;
}

.image-main-frame {
    width: auto;
    height: auto;
}

.main-image {
    max-width: 75vw;
    max-height: 75vh;
}

.h-fs {
    height: calc(100dvh - 56px);
}

.h-full {
    height: 100dvh;
}

.mh-full {
    min-height: 100dvh;
}

.navbar > .container-fluid > .navbar-brand {
    position: absolute;
}

.navbar-brand-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none !important;
    color: var(--bs-navbar-brand-color);
}

.navbar-brand-items > p {
    margin-bottom: auto;
    margin-top: auto;
    text-decoration: none;
    color: var(--bs-navbar-brand-color);
    border: none;
}

/* width utilities */

$widths: (
    "auto": auto,
    "25": 25%,
    "50": 50%,
    "75": 75%,
    "100": 100%,
    "sm": 200px,
    "md": 400px,
    "lg": 600px,
    "xl": 800px,
    "xxl": 1000px,
    "xxxl": 1200px,
);

@each $name, $value in $widths {
    .width-#{$name} {
        width: $value;
    }

    .max-width-#{$name} {
        max-width: $value;
    }
}

@media screen and (max-width: 990px) {
    .navbar > .container-fluid > .navbar-brand {
        position: relative;
    }
}

@media screen and (max-width: 720px) {
    .width-main > * {
        font-size: 0.7rem !important;
    }

    .width-normal > * {
        font-size: 0.7rem !important;
    }

    .width-normal > .btn {
        padding: 4.5px 16px !important;
    }

    .width-main > .btn {
        padding: 4.5px 13px !important;
    }
}

main {
    min-height: 100%;
    flex-grow: 1;
}

.big-text {
    font-size: 6rem;
}

.whitespace-pre {
    white-space: pre;
}

.router-link-active {
    color: var(--bs-primary);
}

.fs-10 {
    font-size: 4rem;
}

@include media-breakpoint-down(md) {
    .fs-10 {
        font-size: 2rem;
    }
}

@include media-breakpoint-down(sm) {
    .fs-10 {
        font-size: 1.5rem;
    }
}